{% extends "admin/base.html" %}
{% block title %}PickMeUP - Home{% endblock %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
crossorigin="anonymous">
{{ form.media }}
{% endblock %}


{% block nav-sidebar %}
{% endblock %}

{% block usertools %}
{% endblock %}

{% block content %}

Hello from Prick Me Up

{% endblock %}
